body{
    background-image: url(../images/bg-image.jpg);
}

@media screen and (max-width: 992px){
    .searchBar{
        position: absolute;
        top: 148px !important;
        margin-top: 300px;
    }

    #gifBox {
        padding-top: 150px;
    }
}

@media screen and (max-width: 735px){
    .searchBar{
        position: absolute;
        top: 200px !important;
        margin-top: 300px;
    }
}

@media screen and (max-width: 550px){
    .searchBar{
        position: absolute;
        top: 250px !important;
        margin-top: 300px;
    }
}